.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.sign-in {

  margin-right: 0.4rem;
}

.signed-buttons {
  display: flex;
  justify-content: space-around;
  min-width: 20%;
}
