<div class="container">
  <h1>{{headline}}</h1>
  <form [formGroup]="signUpForm" (submit)="onSubmit()">
    <input formControlName="name" fullWidth status="info" fieldSize="medium" type="text" nbInput
           placeholder="Имя">
    <input class="login" formControlName="login" fullWidth status="info" fieldSize="medium" type="text" nbInput
           placeholder="Логин">
    <div class="error" *ngIf="loginExist">
      Такой login уже существует
    </div>
    <input formControlName="email" fullWidth status="info" fieldSize="medium" type="text" nbInput
           placeholder="Email">
    <div class="error" *ngIf="hasMailError()">
      Неверный email
      <br>
    </div>

    <div formGroupName="passwords">
      <input type="password" class="pass" formControlName="pass" fullWidth status="info" fieldSize="medium"  nbInput
             placeholder="Пароль">

      <input type="password" class="doublePass" formControlName="doublePass" fullWidth status="info" fieldSize="medium"
             nbInput placeholder="Повторите пароль">
      <div class="error" *ngIf="hasConfirmPassError()">
        Пароли не совпадают
      </div>
    </div>
    <div class="sign-up-buttons">
      <button type="submit" nbButton outline status="info" size="xsmall" [disabled]="!signUpForm.valid">
        {{ agreeButton }}
      </button>
      <button class="cancel" type="button" nbButton outline status="info" size="xsmall" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
